# IDE config and project files.
.idea/*
cmake-build-debug/*

build/cmake_install.cmake
build/CMakeCache.txt
build/compile_commands.json
build/opengl-dev
build/.cmake/api/v1/query/client-vscode/query.json
.gitignore
build/.cmake/api/v1/reply/codemodel-v2-7f8bd4803e5151c1fd4d.json
build/.cmake/api/v1/reply/index-2022-03-19T01-00-57-0793.json
build/.cmake/api/v1/reply/target-opengl-dev-Debug-6a3f84cc6fe14ef4073b.json
build/CMakeFiles/cmake.check_cache
build/CMakeFiles/CMakeDirectoryInformation.cmake
build/CMakeFiles/CMakeError.log
build/CMakeFiles/CMakeOutput.log
build/CMakeFiles/Makefile.cmake
build/CMakeFiles/Makefile2
build/CMakeFiles/progress.marks
build/CMakeFiles/TargetDirectories.txt
build/CMakeFiles/3.16.3/CMakeCCompiler.cmake
build/CMakeFiles/3.16.3/CMakeCXXCompiler.cmake
build/CMakeFiles/3.16.3/CMakeDetermineCompilerABI_C.bin
build/CMakeFiles/3.16.3/CMakeDetermineCompilerABI_CXX.bin
build/CMakeFiles/3.16.3/CMakeSystem.cmake
build/CMakeFiles/3.16.3/CompilerIdC/a.out
build/CMakeFiles/3.16.3/CompilerIdC/CMakeCCompilerId.c
build/CMakeFiles/3.16.3/CompilerIdCXX/a.out
build/CMakeFiles/3.16.3/CompilerIdCXX/CMakeCXXCompilerId.cpp
build/CMakeFiles/opengl-dev.dir/build.make
build/CMakeFiles/opengl-dev.dir/cmake_clean.cmake
build/CMakeFiles/opengl-dev.dir/CXX.includecache
build/CMakeFiles/opengl-dev.dir/depend.internal
build/CMakeFiles/opengl-dev.dir/depend.make
build/CMakeFiles/opengl-dev.dir/DependInfo.cmake
build/CMakeFiles/opengl-dev.dir/flags.make
build/CMakeFiles/opengl-dev.dir/link.txt
build/CMakeFiles/opengl-dev.dir/progress.make
build/CMakeFiles/opengl-dev.dir/src/color.cpp.o
build/CMakeFiles/opengl-dev.dir/src/evo.cpp.o
build/CMakeFiles/opengl-dev.dir/src/main.cpp.o
build/CMakeFiles/opengl-dev.dir/src/m_renderer_id.cpp.o
build/CMakeFiles/opengl-dev.dir/src/m_renderer_id.cpp.o
build/CMakeFiles/opengl-dev.dir/src/vao.cpp.o
build/CMakeFiles/opengl-dev.dir/src/vbo.cpp.o
build/CMakeFiles/opengl-dev.dir/src/vertex_source.cpp.o
build/CMakeFiles/opengl-dev.dir/src/window.cpp.o
build/.cmake/api/v1/reply/cache-v2-5afca932a186f2c41e2e.json
build/Makefile
